$textcolor: #444444;
$darktextcolor: #000000;
$lightextcolor: #ffffff;
$lightgreen: #63d1bb;
$darkgreen: #4fc2b1;

$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1150px";

$shadowcolor: #ececec;
