.reviews {

  &__review {
    line-height: 30px;
  }

  &__author-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  &__author-nick {
    font-size: 18px;
    line-height: 30px;
  }
}
